body {
    display: flex;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div:last-child {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: center;
}

input {
    width: 20px;
}

button {
    cursor: pointer;
    margin-right: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}